@use '../styles/color' as C;
@use '../styles/utils' as U;
@use '../styles/typo' as T;

.container {
  @include U.flex-c(column, flex-start, flex-start);
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

.header {
  width: 1024px;
  padding: 10px 0 0 0;
}

.navbar {
  width: 1024px;
  height: 34.13px;
  background-color: C.$blue;
  @include U.flex-c(row, space-between, center);
  color: C.$white;
  font-size: 20.48px;
  padding-left: 5px;
  padding-right: 5px;

  .logoBox {
    @include U.flex-c(row, center, center);
    gap: 4px;
    height: 34.13px;
    img {
      width: 28px;
    }
  }

  .xBox {
    @include U.flex-c(row, center, center);
    width: 23px;
    height: 23px;
    background-color: C.$main;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    svg {
      color: black;
    }
  }
}

.headerContent {
  @include U.flex-c(row);
  margin-top: 4px;
  width: 1024px;
  height: 34.13px;
  border: 1px solid black;
  font-size: 20.48px;
  box-shadow: 1px 1px 0px black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

  .songTitle {
    @include U.flex-c(row, center, center);
    width: 410px;
    border-right: 2px solid black;
  }
  .albumTitle {
    @include U.flex-c(row, center, center);
    color: #f7f193;
    width: 256px;
    border-left: 2px solid white;
    border-right: 2px solid black;
  }
  .scoreGauge {
    @include U.flex-c(row, center, center);
    width: 358px;
    height: 34.13px;
    border-left: 2px solid white;
    .gaugeBox {
      @include U.flex-c(row, center, center);
      width: 294px;
      height: 30px;
      border: 2px solid white;
      .gaugeGray {
        width: 17px;
        height: 26px;
        border-left: 2px solid rgb(66, 66, 66);
        border-top: 2px solid rgb(66, 66, 66);
        border-right: 2px solid white;
      }
      .gaugeRed {
        width: 17px;
        height: 26px;
        background-color: #bd1000;
        border-left: 2px solid white;
        border-top: 1px solid white;
        border-right: 1px solid rgb(66, 66, 66);
        border-bottom: 2px solid rgb(66, 66, 66);
      }
    }
  }
}

.gameContent {
  border-right: 2px solid rgb(129, 129, 129);
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid rgb(129, 129, 129);
  flex-grow: 1;
  width: 1024px;
  position: relative;
  overflow: hidden;
  @include U.flex-c(column, space-between, center);

  .startButton {
    padding: 17px;
    background-color: C.$blue;
    color: #f7f193;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: 20.48px;
    z-index: 1000;
  }

  .endButton {
    padding: 17px;
    background-color: C.$blue;
    color: #f7f193;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: 20.48px;
    z-index: 1001;
  }

  .scoreBoard {
    @include U.flex-c(column, center, center);
    width: 1024px;
    height: 100px;
    font-size: 20px;
    margin-top: 1px;

    @include U.flex-c();
    .score {
      @include U.flex-c(column, center, center);
    }
  }

  .word {
    position: absolute;
    font-size: 20.48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 34.13px;
    z-index: 1; /* 추가된 부분 */
  }
}

.typingControl {
  width: 1024px;
  @include U.flex-c(column, flex-start, center);
  height: 34.13px;
  z-index: 2; /* 추가된 부분 */
  margin-bottom: 10px;
  input {
    border: 2px solid black;
    width: 400px;
    font-size: 20.48px;
    padding: 5px;
  }
}

.footer {
  height: 34.13px;
  width: 1024px;
  // background-color: C.$gray;
  z-index: 1000;
  font-size: 20.48px;
  @include U.flex-c(row, start, center);

  div {
    @include U.flex-c(row, center, center);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }

  .languageBox {
    height: 34.13px;
    width: 124px;
  }

  .footerBox1 {
    height: 34.13px;
    width: 700px;
  }
  .footerBox2 {
    height: 34.13px;
    width: 200px;
  }
}
